@model OnlineShopWeb.Data.EF.ProductCategory

@{
    ViewBag.Title = "Quản lý loại sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section header{
    Tạo mới sản phẩm
}

@using (Html.BeginForm("Create", "ProductCategory", FormMethod.Post))
{

    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row ">
            <div class="col-md-6 py-3 ">
                <div class="row" style="padding-bottom:5px">
                    <div class="col-md-2">
                        <label for="ProductCategoryName">Name</label>
                    </div>
                    <div class="col-md-1">
                        <label for="ProductCategoryName"> : </label>
                    </div>
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.ProductCategoryName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProductCategoryName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row" style="padding-bottom:5px">
                    <div class="col-md-2">
                        <label for="MetaTitle">MetaTitle</label>
                    </div>
                    <div class="col-md-1">
                        <label for="MetaTitle"> : </label>
                    </div>
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.MetaTitle, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MetaTitle, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row" style="padding-bottom:5px">
                    <div class="col-md-2">
                        <label for="DisplayOrder">DisplayOrder</label>
                    </div>
                    <div class="col-md-1">
                        <label for="DisplayOrder"> : </label>
                    </div>
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.DisplayOrder, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DisplayOrder, "", new { @class = "text-danger" })
                    </div>

                </div>

            </div>
            <div class="col-md-6 py-3">              
                <div class="row">
                    <div class="col-md-2">
                        <label for="Status">Status</label>
                    </div>
                    <div class="col-md-1">
                        <label for="Warranty"> : </label>
                    </div>
                    <div class="col-md-9">
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.Status)
                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col-md-6" style="padding: 3px;">
                <button type="submit" class="btn btn-lg btn-primary text-sm-center">Lưu lại</button>

            </div>
            <div class="col-md-6 text-right py-15">
                @Html.ActionLink("Back to List", "Index")

            </div>

        </div>
    </div>
}



