@model OnlineShopWeb.Data.EF.Content

@{
    ViewBag.Title = "Cập nhật tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section header{
    Cập nhật tin tức
}
@section jsFooter{
    <script>
        $('#btnSelectImage').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#txtImage').val(url);
            };
            finder.popup();
        })
        var editor = CKEDITOR.replace('txtContent', {
            customConfig: '/Assets/Admin/js/plugins/ckeditor/config.js',
        });

    </script>
}
@using (Html.BeginForm("Edit", "Content", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row ">
            <div class="col-md-6 py-3 ">
                <div class="row" style="padding-bottom:5px">
                    <div class="col-md-2">
                        <label for="ContentID">ID</label>
                    </div>
                    <div class="col-md-1">
                        <label for="ContentID"> : </label>
                    </div>
                    <div class="col-md-9" style="width:250px">
                        @*@Html.TextBoxFor(model => model.ContentID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })*@
                        @Html.EditorFor(model => model.ContentID, new { htmlAttributes = new { @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.ContentID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row" style="padding-bottom:5px">
                    <div class="col-md-2">
                        <label for="ContentName">Name</label>
                    </div>
                    <div class="col-md-1">
                        <label for="ContentName"> : </label>
                    </div>
                    <div class="col-md-9" style="width:250px">
                        @Html.TextBoxFor(model => model.ContentName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ContentName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row" style="padding-bottom:5px">
                    <div class="col-md-2">
                        <label for="MetaTitle">MetaTitle</label>
                    </div>
                    <div class="col-md-1">
                        <label for="MetaTitle"> : </label>
                    </div>
                    <div class="col-md-9" style="width:250px">
                        @Html.TextBoxFor(model => model.MetaTitle, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MetaTitle, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row" style="padding-bottom:5px">
                    <div class="col-md-2">
                        <label for="Description">Description</label>
                    </div>
                    <div class="col-md-1">
                        <label for="Description"> : </label>
                    </div>
                    <div class="col-md-9" style="width:250px">
                        @Html.TextBoxFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="row" style="padding-bottom:5px">
                    <div class="col-md-2">
                        <label for="Image">Image</label>
                    </div>
                    <div class="col-md-1">
                        <label for="Image"> : </label>
                    </div>
                    <div class="col-md-9" style="width:250px">
                        @Html.TextBoxFor(model => model.Image, new { htmlAttributes = new { @class = "form-control" }, id = "txtImage" })
                        @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                        <a id="btnSelectImage" href="#">Chọn ảnh</a>
                    </div>
                </div>
                <div class="row" style="padding-bottom:5px">
                    <div class="col-md-2">
                        <label for="CategoryID">Category</label>
                    </div>
                    <div class="col-md-1">
                        <label for="CategoryID"> : </label>
                    </div>
                    <div class="col-md-9" style="width:250px">
                        @Html.DropDownListFor(model => model.CategoryID, null, new { htmlAttributes = new { @class = "form-control" }, style = "width:194px;" })
                        @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
                    </div>

                </div>

                <div class="row" style="padding-bottom:5px">
                    <div class="col-md-2">
                        <label for="Warranty">Warranty</label>
                    </div>
                    <div class="col-md-1">
                        <label for="Warranty"> : </label>
                    </div>
                    <div class="col-md-9" style="width:250px">
                        @Html.TextBoxFor(model => model.Warranty, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Warranty, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row" style="padding-bottom:5px">
                    <div class="col-md-2">
                        <label for="Status">Status</label>
                    </div>
                    <div class="col-md-1">
                        <label for="Warranty"> : </label>
                    </div>
                    <div class="col-md-9" style="width:250px">
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.Status)
                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 py-3">


                <div class="row" style="padding-bottom:5px">
                    <div class="col-md-2">
                        <label for="Detail">Detail</label>
                    </div>
                    <div class="col-md-1">
                        <label for="Detail"> : </label>
                    </div>
                    <div class="col-md-9">
                        @Html.TextAreaFor(model => model.Detail, new { htmlAttributes = new { @class = "form-control" }, id = "txtContent" })
                        @Html.ValidationMessageFor(model => model.Detail, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col-md-6" style="padding: 3px;">
                <button type="submit" class="btn btn-lg btn-primary text-sm-center">Cập nhật</button>

            </div>
            <div class="col-md-6 text-right py-15">
                @Html.ActionLink("Back to List", "Index")

            </div>

        </div>
    </div>

}


