
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _slide = (List<OnlineShopWeb.Data.EF.Slide>)ViewBag.Slide;
    var _listNewProduct = (List<OnlineShopWeb.Data.EF.Product>)ViewBag.ListNewProduct;
    var _listFeatureProduct = (List<OnlineShopWeb.Data.EF.Product>)ViewBag.ListFeature;
}
@section header_slide{
    <div class="header_slide">
        <div class="header_bottom_left">
            @{Html.RenderAction("ProductCategory", "Product");}
        </div>
        <div class="header_bottom_right">
            <div class="slider">
                <div id="slider">
                    <div id="mover">
                        @foreach (var item in _slide)
                        {
                            <div id="slide-1" class="slide">
                                <div class="slider-img" style="width:90%; height:100%">
                                    <a href="@item.Link"><img src="@item.Image" alt="learn more" /></a>
                                </div>
                                @*<div class="slider-text" style="width:25%">
                                    <a href="preview.html" class="button">Shop Now</a>
                                </div>*@
                            </div>
                        }

                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
}

<div class="content">
    <div class="content_top">
        <div class="heading">
            <h3>Sản phẩm mới</h3>
        </div>
        <div class="see">
            <p><a href="/san-pham">Xem tất cả</a></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="section group">
        @foreach (var item in _listNewProduct)
        {
            var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ProductID;
            <div class="grid_1_of_4 images_1_of_4">
                <a href="@url"><img src="@item.Image" alt="" /></a>
                <h2>@item.ProductName</h2>
                <div class="price-details">
                    <div style="min-height: 35px;" class="block-prices text-left  d-block">
                        <div>
                            <span class="product-price font-medium  d-block  w-100">@(item.PromotionPrice.HasValue ? item.PromotionPrice.Value.ToString("N0") : "Liên hệ")</span>
                        </div>
                        
                        <div>
                            <span class="product-old-price d-block" style="color:red">
                                <del>@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")</del>
                                <span class="text-primary style-percent-product">-10%</span>
                            </span>
                        </div>                        

                    </div>
                    @*<div class="price-number">
            <p><span class="rupees">@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")</span></p>
        </div>*@
                    <div class="add-cart" style="float:left">
                        <h4><a href="/them-gio-hang/@item.ProductID">Thêm vào giỏ</a></h4>
                    </div>
                   
                </div>

            </div>
        }


    </div>
    <div class="content_bottom">
        <div class="heading">
            <h3>Sản phẩm đặc trưng</h3>
        </div>
        <div class="see">
            <p><a href="/san-pham">Xem tất cả</a></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="section group">
        @foreach (var item in _listFeatureProduct)
        {
            var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ProductID;
            <div class="grid_1_of_4 images_1_of_4">
                <a href="@url"><img src="@item.Image" alt="" /></a>
                <h2>@item.ProductName</h2>
                <div class="price-details">
                    <div style="min-height: 35px;" class="block-prices text-left  d-block">
                        <div>
                            <span class="product-price font-medium  d-block  w-100">@(item.PromotionPrice.HasValue ? item.PromotionPrice.Value.ToString("N0") : "Liên hệ")</span>
                        </div>

                        <div>
                            <span class="product-old-price d-block" style="color:red">
                                <del>@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")</del>
                                <span class="text-primary style-percent-product">-10%</span>
                            </span>
                        </div>

                    </div>
                    @*<div class="price-number">
                <p><span class="rupees">@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")</span></p>
            </div>*@
                    <div class="add-cart" style="float:left">
                        <h4><a href="/them-gio-hang/@item.ProductID">Thêm vào giỏ</a></h4>
                    </div>

                </div>
              

            </div>
        }

    </div>
</div> 